doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")

    block title
  body
    h1 TODO List
    hr
    block content
